In [1]:
import pandas as pd

In [2]:
dataset = pd.read_excel(r"D:\Kaggle datasets\index.xlsx")
dataset

,date,datetime,cash_type,card,money,coffee_name
0,2024-03-01,2024-03-01 10:15:50.520,card,ANON-0000-0000-0001,38.70,Latte
1,2024-03-01,2024-03-01 12:19:22.539,card,ANON-0000-0000-0002,38.70,Hot Chocolate
2,2024-03-01,2024-03-01 12:20:18.089,card,ANON-0000-0000-0002,38.70,Hot Chocolate
3,2024-03-01,2024-03-01 13:46:33.006,card,ANON-0000-0000-0003,28.90,Americano
4,2024-03-01,2024-03-01 13:48:14.626,card,ANON-0000-0000-0004,38.70,Latte
...,...,...,...,...,...,...
2021,2024-10-20,2024-10-20 21:14:18.045,card,ANON-0000-0000-0789,35.76,Hot Chocolate
2022,2024-10-20,2024-10-20 21:15:17.780,card,ANON-0000-0000-0790,25.96,Cortado
2023,2024-10-20,2024-10-20 21:17:26.865,card,ANON-0000-0000-0791,35.76,Cocoa
2024,2024-10-20,2024-10-20 21:25:00.085,card,ANON-0000-0000-0792,35.76,Latte
2025,2024-10-20,2024-10-20 22:17:29.041,card,ANON-0000-0000-0550,35.76,NaN

In [3]:
dataset.head(20)

,date,datetime,cash_type,card,money,coffee_name
0,2024-03-01,2024-03-01 10:15:50.520,card,ANON-0000-0000-0001,38.7,Latte
1,2024-03-01,2024-03-01 12:19:22.539,card,ANON-0000-0000-0002,38.7,Hot Chocolate
2,2024-03-01,2024-03-01 12:20:18.089,card,ANON-0000-0000-0002,38.7,Hot Chocolate
3,2024-03-01,2024-03-01 13:46:33.006,card,ANON-0000-0000-0003,28.9,Americano
4,2024-03-01,2024-03-01 13:48:14.626,card,ANON-0000-0000-0004,38.7,Latte
5,2024-03-01,2024-03-01 15:39:47.726,card,ANON-0000-0000-0005,33.8,Americano with Milk
6,2024-03-01,2024-03-01 16:19:02.756,card,ANON-0000-0000-0006,38.7,Hot Chocolate
7,2024-03-01,2024-03-01 18:39:03.580,card,ANON-0000-0000-0007,33.8,Americano with Milk
8,2024-03-01,2024-03-01 19:22:01.762,card,ANON-0000-0000-0008,38.7,Cocoa
9,2024-03-01,2024-03-01 19:23:15.887,card,ANON-0000-0000-0008,33.8,Americano with Milk
10,2024-03-01,2024-03-01 19:29:17.391,card,ANON-0000-0000-0009,NaN,Americano with Milk
11,2024-03-02,2024-03-02 10:22:06.957,card,ANON-0000-0000-0010,28.9,Americano
12,2024-03-02,2024-03-02 10:30:35.668,cash,NaN,40.0,Latte
13,2024-03-02,2024-03-02 10:41:41.249,card,ANON-0000-0000-0011,33.8,Americano with Milk
14,2024-03-02,2024-03-02 11:59:45.484,card,ANON-0000-0000-0012,33.8,Americano with Milk
15,2024-03-02,2024-03-02 14:38:35.535,card,ANON-0000-0000-0013,28.9,Americano
16,2024-03-02,2024-03-02 16:37:24.475,card,ANON-0000-0000-0014,33.8,Americano with Milk
17,2024-03-02,2024-03-02 17:34:54.969,card,ANON-0000-0000-0004,28.9,Americano
18,2024-03-03,2024-03-03 10:10:43.981,cash,NaN,40.0,Latte
19,2024-03-03,2024-03-03 10:27:18.561,card,ANON-0000-0000-0015,38.7,Latte

In [4]:
dataset.shape

(2026, 6)

In [5]:
dataset.isnull().sum().sum()

96

In [6]:
(dataset.isnull().sum()/dataset.shape[0])*100

date           0.000000
datetime       0.000000
cash_type      0.000000
card           4.392892
money          0.148075
coffee_name    0.197433
dtype: float64

In [7]:
(dataset.isnull().sum().sum()/(dataset.shape[0]*dataset.shape[1]))

0.007897334649555774

# Fill miss data row wise

In [9]:
dataset.fillna(20).head(50)

,date,datetime,cash_type,card,money,coffee_name
0,2024-03-01,2024-03-01 10:15:50.520,card,ANON-0000-0000-0001,38.7,Latte
1,2024-03-01,2024-03-01 12:19:22.539,card,ANON-0000-0000-0002,38.7,Hot Chocolate
2,2024-03-01,2024-03-01 12:20:18.089,card,ANON-0000-0000-0002,38.7,Hot Chocolate
3,2024-03-01,2024-03-01 13:46:33.006,card,ANON-0000-0000-0003,28.9,Americano
4,2024-03-01,2024-03-01 13:48:14.626,card,ANON-0000-0000-0004,38.7,Latte
5,2024-03-01,2024-03-01 15:39:47.726,card,ANON-0000-0000-0005,33.8,Americano with Milk
6,2024-03-01,2024-03-01 16:19:02.756,card,ANON-0000-0000-0006,38.7,Hot Chocolate
7,2024-03-01,2024-03-01 18:39:03.580,card,ANON-0000-0000-0007,33.8,Americano with Milk
8,2024-03-01,2024-03-01 19:22:01.762,card,ANON-0000-0000-0008,38.7,Cocoa
9,2024-03-01,2024-03-01 19:23:15.887,card,ANON-0000-0000-0008,33.8,Americano with Milk
10,2024-03-01,2024-03-01 19:29:17.391,card,ANON-0000-0000-0009,20.0,Americano with Milk
11,2024-03-02,2024-03-02 10:22:06.957,card,ANON-0000-0000-0010,28.9,Americano
12,2024-03-02,2024-03-02 10:30:35.668,cash,20,40.0,Latte
13,2024-03-02,2024-03-02 10:41:41.249,card,ANON-0000-0000-0011,33.8,Americano with Milk
14,2024-03-02,2024-03-02 11:59:45.484,card,ANON-0000-0000-0012,33.8,Americano with Milk
15,2024-03-02,2024-03-02 14:38:35.535,card,ANON-0000-0000-0013,28.9,Americano
16,2024-03-02,2024-03-02 16:37:24.475,card,ANON-0000-0000-0014,33.8,Americano with Milk
17,2024-03-02,2024-03-02 17:34:54.969,card,ANON-0000-0000-0004,28.9,Americano
18,2024-03-03,2024-03-03 10:10:43.981,cash,20,40.0,Latte
19,2024-03-03,2024-03-03 10:27:18.561,card,ANON-0000-0000-0015,38.7,Latte
20,2024-03-03,2024-03-03 11:33:56.118,card,ANON-0000-0000-0016,28.9,Cortado
21,2024-03-03,2024-03-03 12:26:56.098,card,ANON-0000-0000-0012,28.9,Americano
22,2024-03-03,2024-03-03 13:09:36.321,card,ANON-0000-0000-0017,38.7,Hot Chocolate
23,2024-03-03,2024-03-03 17:06:40.271,card,ANON-0000-0000-0018,38.7,Cocoa
24,2024-03-03,2024-03-03 17:08:45.895,card,ANON-0000-0000-0019,28.9,Cortado
25,2024-03-03,2024-03-03 18:03:23.369,card,ANON-0000-0000-0020,33.8,Americano with Milk
26,2024-03-03,2024-03-03 18:04:27.946,card,ANON-0000-0000-0020,33.8,Americano with Milk
27,2024-03-03,2024-03-03 18:08:04.959,card,ANON-0000-0000-0020,38.7,Hot Chocolate
28,2024-03-04,2024-03-04 10:03:51.994,card,ANON-0000-0000-0001,38.7,Latte
29,2024-03-04,2024-03-04 10:54:50.958,card,ANON-0000-0000-0021,38.7,Latte
30,2024-03-04,2024-03-04 11:05:16.184,card,ANON-0000-0000-0012,33.8,Americano with Milk
31,2024-03-04,2024-03-04 14:04:37.734,card,ANON-0000-0000-0022,24.0,Espresso
32,2024-03-05,2024-03-05 09:59:52.651,card,ANON-0000-0000-0001,38.7,Latte
33,2024-03-05,2024-03-05 14:34:55.963,card,ANON-0000-0000-0023,38.7,Latte
34,2024-03-05,2024-03-05 17:34:06.043,card,ANON-0000-0000-0024,38.7,Latte
35,2024-03-05,2024-03-05 17:35:25.021,card,ANON-0000-0000-0025,38.7,Hot Chocolate
36,2024-03-05,2024-03-05 17:36:28.571,card,ANON-0000-0000-0026,38.7,Cocoa
37,2024-03-05,2024-03-05 17:37:13.659,card,ANON-0000-0000-0027,38.7,Hot Chocolate
38,2024-03-05,2024-03-05 17:38:09.354,card,ANON-0000-0000-0009,38.7,Hot Chocolate
39,2024-03-05,2024-03-05 17:56:15.776,card,ANON-0000-0000-0028,28.9,Cortado
40,2024-03-05,2024-03-05 18:01:31.242,card,ANON-0000-0000-0028,38.7,Hot Chocolate
41,2024-03-06,2024-03-06 12:30:27.089,cash,20,35.0,Americano with Milk
42,2024-03-06,2024-03-06 13:24:07.667,card,ANON-0000-0000-0012,28.9,Americano
43,2024-03-06,2024-03-06 13:25:14.351,card,ANON-0000-0000-0012,28.9,Cortado
44,2024-03-06,2024-03-06 14:52:01.761,card,ANON-0000-0000-0029,38.7,Cappuccino
45,2024-03-06,2024-03-06 14:53:18.344,card,ANON-0000-0000-0029,38.7,Cappuccino
46,2024-03-07,2024-03-07 10:08:58.945,cash,20,40.0,Latte
47,2024-03-07,2024-03-07 10:18:40.543,card,ANON-0000-0000-0030,38.7,Hot Chocolate
48,2024-03-07,2024-03-07 11:03:58.976,card,ANON-0000-0000-0031,38.7,Latte
49,2024-03-07,2024-03-07 11:25:43.977,cash,20,40.0,Latte

In [10]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2026 entries, 0 to 2025
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         2026 non-null   datetime64[ns]
 1   datetime     2026 non-null   datetime64[ns]
 2   cash_type    2026 non-null   object
 3   card         1937 non-null   object
 4   money        2023 non-null   float64
 5   coffee_name  2022 non-null   object
dtypes: datetime64[ns](2), float64(1), object(3)
memory usage: 95.1+ KB

# Fill data through backward filling.

In [12]:
dataset.fillna(method="bfill").head(50)

C:\Users\PMLS\AppData\Local\Temp\ipykernel_28636\3371710933.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  dataset.fillna(method="bfill").head(50)

,date,datetime,cash_type,card,money,coffee_name
0,2024-03-01,2024-03-01 10:15:50.520,card,ANON-0000-0000-0001,38.7,Latte
1,2024-03-01,2024-03-01 12:19:22.539,card,ANON-0000-0000-0002,38.7,Hot Chocolate
2,2024-03-01,2024-03-01 12:20:18.089,card,ANON-0000-0000-0002,38.7,Hot Chocolate
3,2024-03-01,2024-03-01 13:46:33.006,card,ANON-0000-0000-0003,28.9,Americano
4,2024-03-01,2024-03-01 13:48:14.626,card,ANON-0000-0000-0004,38.7,Latte
5,2024-03-01,2024-03-01 15:39:47.726,card,ANON-0000-0000-0005,33.8,Americano with Milk
6,2024-03-01,2024-03-01 16:19:02.756,card,ANON-0000-0000-0006,38.7,Hot Chocolate
7,2024-03-01,2024-03-01 18:39:03.580,card,ANON-0000-0000-0007,33.8,Americano with Milk
8,2024-03-01,2024-03-01 19:22:01.762,card,ANON-0000-0000-0008,38.7,Cocoa
9,2024-03-01,2024-03-01 19:23:15.887,card,ANON-0000-0000-0008,33.8,Americano with Milk
10,2024-03-01,2024-03-01 19:29:17.391,card,ANON-0000-0000-0009,28.9,Americano with Milk
11,2024-03-02,2024-03-02 10:22:06.957,card,ANON-0000-0000-0010,28.9,Americano
12,2024-03-02,2024-03-02 10:30:35.668,cash,ANON-0000-0000-0011,40.0,Latte
13,2024-03-02,2024-03-02 10:41:41.249,card,ANON-0000-0000-0011,33.8,Americano with Milk
14,2024-03-02,2024-03-02 11:59:45.484,card,ANON-0000-0000-0012,33.8,Americano with Milk
15,2024-03-02,2024-03-02 14:38:35.535,card,ANON-0000-0000-0013,28.9,Americano
16,2024-03-02,2024-03-02 16:37:24.475,card,ANON-0000-0000-0014,33.8,Americano with Milk
17,2024-03-02,2024-03-02 17:34:54.969,card,ANON-0000-0000-0004,28.9,Americano
18,2024-03-03,2024-03-03 10:10:43.981,cash,ANON-0000-0000-0015,40.0,Latte
19,2024-03-03,2024-03-03 10:27:18.561,card,ANON-0000-0000-0015,38.7,Latte
20,2024-03-03,2024-03-03 11:33:56.118,card,ANON-0000-0000-0016,28.9,Cortado
21,2024-03-03,2024-03-03 12:26:56.098,card,ANON-0000-0000-0012,28.9,Americano
22,2024-03-03,2024-03-03 13:09:36.321,card,ANON-0000-0000-0017,38.7,Hot Chocolate
23,2024-03-03,2024-03-03 17:06:40.271,card,ANON-0000-0000-0018,38.7,Cocoa
24,2024-03-03,2024-03-03 17:08:45.895,card,ANON-0000-0000-0019,28.9,Cortado
25,2024-03-03,2024-03-03 18:03:23.369,card,ANON-0000-0000-0020,33.8,Americano with Milk
26,2024-03-03,2024-03-03 18:04:27.946,card,ANON-0000-0000-0020,33.8,Americano with Milk
27,2024-03-03,2024-03-03 18:08:04.959,card,ANON-0000-0000-0020,38.7,Hot Chocolate
28,2024-03-04,2024-03-04 10:03:51.994,card,ANON-0000-0000-0001,38.7,Latte
29,2024-03-04,2024-03-04 10:54:50.958,card,ANON-0000-0000-0021,38.7,Latte
30,2024-03-04,2024-03-04 11:05:16.184,card,ANON-0000-0000-0012,33.8,Americano with Milk
31,2024-03-04,2024-03-04 14:04:37.734,card,ANON-0000-0000-0022,24.0,Espresso
32,2024-03-05,2024-03-05 09:59:52.651,card,ANON-0000-0000-0001,38.7,Latte
33,2024-03-05,2024-03-05 14:34:55.963,card,ANON-0000-0000-0023,38.7,Latte
34,2024-03-05,2024-03-05 17:34:06.043,card,ANON-0000-0000-0024,38.7,Latte
35,2024-03-05,2024-03-05 17:35:25.021,card,ANON-0000-0000-0025,38.7,Hot Chocolate
36,2024-03-05,2024-03-05 17:36:28.571,card,ANON-0000-0000-0026,38.7,Cocoa
37,2024-03-05,2024-03-05 17:37:13.659,card,ANON-0000-0000-0027,38.7,Hot Chocolate
38,2024-03-05,2024-03-05 17:38:09.354,card,ANON-0000-0000-0009,38.7,Hot Chocolate
39,2024-03-05,2024-03-05 17:56:15.776,card,ANON-0000-0000-0028,28.9,Cortado
40,2024-03-05,2024-03-05 18:01:31.242,card,ANON-0000-0000-0028,38.7,Hot Chocolate
41,2024-03-06,2024-03-06 12:30:27.089,cash,ANON-0000-0000-0012,35.0,Americano with Milk
42,2024-03-06,2024-03-06 13:24:07.667,card,ANON-0000-0000-0012,28.9,Americano
43,2024-03-06,2024-03-06 13:25:14.351,card,ANON-0000-0000-0012,28.9,Cortado
44,2024-03-06,2024-03-06 14:52:01.761,card,ANON-0000-0000-0029,38.7,Cappuccino
45,2024-03-06,2024-03-06 14:53:18.344,card,ANON-0000-0000-0029,38.7,Cappuccino
46,2024-03-07,2024-03-07 10:08:58.945,cash,ANON-0000-0000-0030,40.0,Latte
47,2024-03-07,2024-03-07 10:18:40.543,card,ANON-0000-0000-0030,38.7,Hot Chocolate
48,2024-03-07,2024-03-07 11:03:58.976,card,ANON-0000-0000-0031,38.7,Latte
49,2024-03-07,2024-03-07 11:25:43.977,cash,ANON-0000-0000-0032,40.0,Latte

# Fill data through forward filling.

In [41]:
dataset.fillna(method="ffill",inplace = True).tail(50)

C:\Users\PMLS\AppData\Local\Temp\ipykernel_28636\955788656.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  dataset.fillna(method="ffill",inplace = True).tail(50)

AttributeError: 'NoneType' object has no attribute 'tail'

In [43]:
dataset.isnull().sum()

date           0
datetime       0
cash_type      0
card           0
money          0
coffee_name    0
dtype: int64

In [16]:
# dataset["coffee_name"].mode()[0]

In [17]:
# dataset["coffee_name"]=dataset["coffee_name"].fillna(dataset["coffee_name"].mode()[0]).head(100)

In [18]:
# dataset.select_dtypes(include="object")

In [19]:
# for i in dataset.select_dtypes(include="object").columns:
    # dataset[i].fillna(dataset[i].mode()[0])

In [20]:
dataset.shape

(2026, 6)

In [45]:
dataset.isnull().sum().sum()

0